{% extends "base.html" %}

    
    {% block title %}
    Register
    {% endblock %}

    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand justify-content-end fw-bold" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="CurhatIn" width="40" height="40">CurhatIn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="justify-content-end">
                        <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{url_for('index')}}"><i class="bi-arrow-bar-left"></i>Back</a>
                </div>
            </div>
        </nav>
  
        <div class="">
            <div class=" px-5">
                <div class="row gx-5 align-items-center align-content-center">
                    <div class="col-lg-6">
                        <div class="align-item-center justify-content-center">
                            <div >
                                <img src="{{ url_for('static', filename='assets/img/chat.png') }}" class="img-fluid w-25" alt="">
                            </div>
                        </div>
                        <h1>Share your thouhts with the world from today.</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="card bg-dark text-white">
                            <div class="card-body pb-2r ">
                                <h3 class="card-title">Register</h3>
                                <form action="{{ url_for('register') }}" method="POST" class="pt-3">
                                    <div class="form-group pb-3">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group  pb-3">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group  pb-3">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="justify-content-between row pt-lg-5">
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                        <div class="col-8 justify-content-end d-flex align-item-center">
                                            <a href="{{ url_for('login') }}" class="text-white">Already have an account?</a>
                                        </div>                                    
                                    </div>
                                </form>
                                <!-- <div style="height: 50px;"></div> -->

                                {% for message in get_flashed_messages() %}
                                {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
       
    {% endblock %}

    