{% extends "base.html" %}

{% block title %}
{{ user.username }}'s Profile
{% endblock %}

{% block body %}

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand justify-content-end fw-bold" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="CurhatIn" width="40" height="40">CurhatIn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                    <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{url_for('index')}}"><i class="bi-arrow-bar-left"></i>Back</a>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark  py-3">
                        <h6 class="m-0 font-weight-bold text-white">About {{ user.username }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 rounded">
                                <img src="{{ url_for('static', filename='assets/img/user.png') }}" alt="user" width="200" height="200" class="img-thumbnail rounded-circle">
                            </div>
                            <div class="col-lg-8">
                                <h4>@{{ user.username }}</h4>
                                <h4>{{ email }}</h4>
                                <br>
                                <div class="d-flex ">
                                    <div class="me-4">
                                        <div class="d-block align-items-center">
                                            <div><a href="{{ url_for('show_following', username=user.username) }}" class="text-decoration-none">{{ user.following() | length }}</a></div>
                                            <div class="text-muted">Following</div>
                                        </div>
                                    </div>
                                    <div class="me-2">
                                        <div class="d-block align-items-center">
                                            <div><a href="{{ url_for('show_followers', username=user.username) }}" class="text-decoration-none">{{ user.followers() | length }}</a></div>
                                            <div class="text-muted">Followers</div>
                                        </div>
                                </div>
                            </div><br>
                            {% if user.username != session.username %}
                                {% if session.logged_in %}
                                    {% if active_user.is_following(user) %}
                                        <form action="{{ url_for('unfollow_user', username=user.username) }}" method="post">
                                            <input type="submit" class="btn btn-outline-primary rounded-pill px-3 mb-2 mb-lg-0" value="unfollow">
                                        </form>
                                    {% else %}
                                        <form action="{{ url_for('follow_user', username=user.username) }}" method="post">
                                            <input type="submit" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" value="follow">
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark  py-3">
                        <h6 class="m-0 font-weight-bold text-white">Story</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {% for message in messages %}
                                    <div class="card shadow mb-4">
                                        <div class="card-header bg-white py-3 d-flex justify-content-between">
                                            <div>
                                                <h6 class="m-0 text-black"><img src="" alt=""><img src="{{ url_for('static', filename='assets/img/user.png') }}" alt="user" width="20" height="20" class="img-thumbnail rounded-circle"><a href="{{ url_for('user_profile', username=message.user.username) }}" class="text-decoration-none"> @{{ message.user.username }}</a></h6>
                                            </div>
                                            {% if myself %}
                                            <div>
                                                <small class="text-muted"> {{ message.published_at  }} </small>    
                                            </div>
                                            <div class="d-flex">
                                                <div>
                                                    <a href="/edit?id={{message.id}}"><i class="bi-pencil-fill"></i>Edit</a>
                                                </div>
                                                <div class="ms-2">
                                                    <a href="/delete?id={{message.id}}"><i class="bi-trash-fill"></i>Delete</a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                            
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12 rounded">
                                                    {{ message.content }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}